[Desktop Entry]
Encoding=UTF-8
Name=test
Comment=test P2P Cryptocurrency
Comment[fr]=test, monnaie virtuelle cryptographique pair à pair
Comment[tr]=test, eşten eşe kriptografik sanal para birimi
Exec=test-qt %u
Terminal=false
Type=Application
Icon=test128
MimeType=x-scheme-handler/test;
Categories=Office;Finance;
